.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.popup .popup-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

.popup .popup-inner {
    background: white;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50px);
    transition: all 250ms ease-in-out;
}

.popup .popup-inner h3 {
    margin-bottom: 30px;
}

.popup .popup-inner form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}

.popup.show .popup-inner {
    visibility: visible;
    transform: translateY(0);
}