.currency-card {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 3px;
    min-width: 250px;
    max-width: 100%;
    flex: 1;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.currency-card .card-order-one {
    flex: 5;
    flex-direction: column;
    text-align: right;
}

.currency-card .card-order-one .currency-value,
.currency-card .card-order-one .currency-detail {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.currency-card .card-order-one .currency-value {
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.currency-card .card-order-one .currency-detail {
    flex-direction: column;
    font-size: 0.9em;
}

.currency-card .card-order-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CB3837;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.currency-card .card-order-two i {
}